.container-form{
  max-width: auto;
  background: #fff;
  width: auto;
  padding: 25px 40px 10px 40px;
  
}
.body-form{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}
.form-row{
  margin-right: 30px;
}


