.container{
    max-width: auto;
    background: #fff;
    width: auto;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  body{
    display: flex;
    align-items: top;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
  }
  .form-rowlogin{
    margin-right: 30px;
  }
  .form-rowPassword{
    margin-right: 8px;
  }
  .LogoSu{
    width: 350px;
    height: auto;
  }
  .Textcenter{
    text-align: center;
  }