/* Reset default styles for ul and li */
ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow: hidden; /* Clear floats */
    background-color: #27962c; /* Dark background for navbar */
}

/* Make list items float left */
li {
    float: left; /* Align items horizontally */
}

/* Style the links inside the list items */
li a {
    display: block; /* Make links block elements */
    color: white; /* White text */
    text-align: center; /* Center text inside links */
    padding: 14px 16px; /* Padding inside links */
    text-decoration: none; /* Remove underline */
    background-color: #27962c; /* Same background as navbar */
}

/* Change background color on hover */
li a:hover {
    background-color: #499a49; /* Darken background on hover */
}

/* Clearfix for float elements */
ul:after {
    content: "";
    display: table;
    clear: both;
}


  