.container-form {
  max-width: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}

.body-form {
  display: flex;
  flex-direction: column; /* Align items in a column */
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  padding: 20px;
  margin-top: 10px; /* Space from the navbar */
}

.table-container {
  margin-top: 20px; /* Space between the search box and the table */
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .thead-dark th {
  color: #fff;
  background-color: #2caa3f;
  border-color: #27894e;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.table-container {
  overflow-x: auto;
}
.top-mardin{
  margin-top: 20px;
}

